/* .cart-container {
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; 
    margin-left: 40px;
    margin-right: 40px;
} */

.main-container {
    /* background-color: white; */
    /* margin: 30px; */
    /* padding: 30px; */
    width: 68%;
    padding-right: 0px;
    padding-top: 59px;
}
.main-header {
    border-bottom: 1px solid #999999;
}
.main-header h2 {
    margin: 0;
    margin-bottom: 12px;
    font-size: 30px;
    font-weight: 300;
}
.main-products {
    margin-top: 40px;
    margin-bottom: 50px;
}

.main-products-removed {
    display: none;
}
.main-product-container {
    background-color: rgb(246, 246, 246);
}
.main-footer {
    font-weight: 400;
    margin-bottom: 30px;
}



.secondary-container {
    width: 28%;
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}
    /* justify-content: space-between; */
    /* padding: 30px;
    padding-left: 0px; */


.payment-container {
    display: flex;
    flex-direction: column;
    /* background-color: #e7e7e7; */
    background-color: #e9e9e9;
    padding: 30px;
    padding-bottom: 40px;
    /* border-radius: 5px; */
}
.payment-header-info {
    display: flex;
    justify-content: space-between;
}
.payment-header h2 {
    margin: 0;
    margin-bottom: 12px;
    margin-top: 7px;
    font-size: 18px;
    font-weight: 400;
    border-bottom: 1px solid #999999;
    padding-bottom: 20px;
}
.payment-header p {
    margin-top: 27px;
    font-size: 18px;
}

.payment-form-cart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    /* margin: 30px 15%; */
    gap: 20px;
    padding-left: 13px;
    margin-top: 40px;
}
.payment-label-cart {
    width: 100%;
    margin-right: 10px;
    margin-bottom: 16px;
}
.payment-label-cart input {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 13px 5px 13px 10px;
    width: 100%;
    font-family: "Roboto", sansserif;
    transition: ease-in-out 0.2s;
}
.payment-button-cart {
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 13px 40px;
    color: white;
    margin-top: 13px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.payment-button-cart:hover {
    box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, .15);
}
.payment-submit-button:hover {
    box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, .15);
}

.payment-label-cart input::placeholder {
    color:rgb(163, 163, 163);
}
.discount-label-cart input::placeholder {
    color:rgb(163, 163, 163);
}

.payment-label-cart input:focus {
    outline: none;
    box-shadow: -1px 6px 10px 0 rgba(119, 119, 119, 0.15);
}
.discount-label-cart input:focus {
    outline: none;
    box-shadow: -1px 6px 10px 0 rgba(119, 119, 119, 0.15);
}
.discount-container {
    background-color: #e9e9e9;
    padding: 30px;
    margin-top: 25px;
    margin: 25px 0;
}
.discount-container-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.payment-submit-button {
    margin: 0px;
    background-color: var(--primary-color);
    border: none;
    border-radius: 4px;
    padding: 13px 47px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}
.discount-label-cart {
    width: 50%;
}
.discount-label-cart input {
    background-color: white;
    border: none;
    border-radius: 4px;
    padding: 13px 0px 13px 10px;
    width: 90%;
    font-family: "Roboto", sansserif;
    transition: ease-in-out 0.2s;
}
/* 
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
} */

@media (max-width: 1440px) {
    .payment-submit-button {
        padding: 13px 20px;
    }
}

@media (max-width: 1300px) {
    /* .cart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
    } */

    .secondary-container {
        width: 70%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
}

@media (max-width: 686px) {
    /* .cart-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: 40px;
        margin-right: 40px;
    } */

    .main-container {
        width: 100%;
        padding-right: 0px;
        padding-top: 59px;
    }

    .secondary-container {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 30px;
    }
}