.product-container {
    background-color: white;
    position: relative;
    height: 400px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.product-image-div {
    height: 80%;
}

.product-photo {
    width: 100%;
    height: 100%;
    object-fit: contain;

}

.product-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.product-name {
    font-size: 14px;
    padding-right: 10px;
    margin-bottom: 7px;
}

.product-price {
    color: var(--primary-color);
    font-weight: 400;
    margin-bottom: 7px;
    font-size: 14px;
    font-weight: 500;
}

.product-button {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    border-radius: 50%;
    width: 30px;
    height: 30px;
}

.product-button img {
    width: 18px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.product-rating {
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: flex-star;
    font-size: 14px;
}

.product-rating-star {
    margin-left: 4px;
    width: 12px;
}