.product-detail_container {
    padding: 40px;
    margin: 40px;
    display: flex;
    justify-content: space-between;
}

/* .product-detail_image-container {
} */

.product-detail_image {
    background-color: white;
    width: 45%;
    text-align: center;
    height: 1000px;
    object-fit: contain;
}

.product-detail_body {
    width: 50%;
}

.product-detail_link span {
    font-weight: 400;
}

.product-detail_category {
    font-weight: 500;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.3);
    margin: 160px 0 40px;
    text-transform: uppercase;
}

.product-detail_title {
    font-family: "Prata", serif;
    font-weight: normal;
}

.rating-star {
    margin-right: 4px;
}

.product-detail_price {
    margin-top: 80px;
    font-size: 36px;
    font-weight: 500;
    color: var(--primary-color);
}

.product-detail_description {
    margin: 80px 0;
    font-size: 20px;
    line-height: 32px;
}

.product-detail_cart-options {
    display: flex;
    align-items: center;
}

.product-detail_cart-button {
    border: none;
    background-color: var(--primary-color);
    color: white;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 16px 72px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-size: 16px;
    text-align: center;
}

.product-detail_cart-button:hover {
    box-shadow: -1px 6px 10px 0 rgba(120, 60, 20, .15);
}