header {
    background-color: white;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center; /*eixo vertical*/
    flex-wrap: wrap;
    height: 100px;
    margin: 0 40px;
}

.logo-div {
    /* font-family: 'Playfair Display', serif; */
    font-family: "Prata", serif;
    font-size: 20px;
}

/* .search-div {
    margin-left: 500px;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    border: none;
    width: 200px;
    border-bottom: 1px solid rgb(149, 149, 149);
    border-radius: 2px;
    font-family: 'Roboto', sans-serif;
} */

.search-div:focus {
    outline: none;
    border-bottom: 1px solid var(--primary-color);
}

.links-div {
    display: flex;
}

.links-div a {
    /* transition: ease-in-out 0.2s; */
    /* padding-left: 20px; */
    margin-left: 20px;
    position: relative;
}

.links-div a:before {
    /* color: var(--light-grey); */
    content: "";
    position: absolute;
    width: 0;
    height: 0.5px;
    bottom: 0;
    left: 0;
    background-color: var(--primary-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.links-div a:hover:before {
    visibility: visible;
    width: 100%;
}

.bold {
    font-weight: 800;
}

.active {
    color: var(--primary-color);
}

.pink-cart {
    background: url("../../assets/shopping-cart-on.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 19px;
    width: 19px;
    display: inline-block;
}

.black-cart {
    background: url("../../assets/shopping-cart.png");
    background-repeat: no-repeat;
    background-position: center;
    height: 19px;
    width: 19px;
    display: inline-block;
}