.footer {
    /* position: fixed;
    bottom: 0;
    right: 0;
    left: 0; */
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
    /* background-color: var(--primary-color); */
    background-color: white;

}

.footer-title {
    margin-left: 40px;
    padding: 0 4px;
}

.footer-rights {
    margin-right: 40px;
    padding: 0 4px;
}