/* .product-list-container {
    display: flex;
    flex-direction: row;
}

.first-grid {
    width: 80%;
    display: flex;
    flex-direction: column;
} */

/* .inner-search-div {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
} */

/* .inner-product-grid {
    margin-top: 20px;
    margin-bottom: 50px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-gap: 20px;
    justify-content: center;
} */

.inner-product-grid:first-child {
    grid-column: 1/-1;
}

.sidebar {
    padding-left: 20px;
    padding-top: 31px;
    padding-right: 20px;
    width: 20%;
    min-width: 200px;
    margin-left: 20px;
    background-color: var(--light-grey);
    /* background-color: rgb(212, 212, 212); */
}

@media (max-width: 650px) {
    .sidebar {
        width: 100vw;
    }

    .first-grid {
        width: 100%;
    }

    .product-list-container {
        display: flex;
        flex-direction: column;
    }

    .inner-product-grid {
        align-content: center;
    }
}

/* .search-div {
    background-color: var(--light-grey);
    margin-top: 30px;
    font-size: 16px;
    font-weight: 300;
    color: gray;
    border: none;
    width: 99%;
    border-bottom: 1px solid rgb(149, 149, 149);
    font-family: 'Roboto', sans-serif;
} */

/* até um maximo de 768, div é none */
/* @media (max-width: 791px) {
    .blank-div {
        display: none;
    }
} */

/* .label-flex {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    position: relative;
} */

/* .search-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    right: 0px;
    bottom: 3px;
} */

/* .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0 60px 20%;
} */

/* .btn-page-numbers {
    margin: 0 12px;
    border: none;
    font-weight: 500;
    border-radius: 4px;
    padding: 8px 12px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
}

.btn-page-numbers:focus {
    color: var(--primary-color);
}

.btn-page-numbers .active {
    color: var(--primary-color);
} */



.arrow {
    padding: 0;
    margin: 0;
    background-color: transparent;
    border: none;
}

.rotate {
    transform: rotate(180deg);
}

@media (max-width:  626px) {
    .pagination {
        margin: 0 auto 40px ;
    }
}
/* .like-div {
    position: relative;
} */
/* .product-button {
    cursor: pointer;
    background-color: transparent;
    position: absolute;
    z-index: 1;
} */